---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
$link-color: rgb(50, 110, 50);
$serif: "PT Serif";
$sans-serif-narrow: "PT Sans Narrow";

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    font-size: 10px; // change to whatever
  
    @include breakpoint($medium) {
      font-size: 14px; // change to whatever
        
    }
  
    @include breakpoint($large) {
      font-size: 16px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 18px; // change to whatever
    }
  }
